@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: var(--color-white);   /* Soft White */
  --black: var(--color-black);   /* Deep Navy als Near-Black */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--color-black);
  background-color: var(--color-white); 
  @apply font-sans text-base leading-relaxed; 
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-bold; 
}
